@font-face {
  font-family: "incompleeta";
  src: url("../resources/fonts/IncompleetaRegular.ttf");
}

@font-face {
  font-family: "incompleeta-reveal";
  src: url("../resources/fonts/IncompleetaRegularReveal.ttf");
}

@font-face {
  font-family: "incompleeta-light";
  src: url("../resources/fonts/IncompleetaLightReveal.ttf");
}

:root {
  /* color */
  --darker: #090d14;
  --dark: #171a21;
  --primary: #f3ac5a;
  --primary-light: #ffd9ae;
  --white: #f6f6f6;

  /* transistion */
  --transition1: 200ms;
  --transition2: 400ms;
  --transition3: 600ms;

  /* font */
  --font-h1-lg: 72px;
  --font-h1-md: 68px;
  --font-h1: 64px;

  --font-h2-lg: 48px;
  --font-h2-md: 45px;
  --font-h2: 42px;

  --font-h3-lg: 32px;
  --font-h3-md: 30px;
  --font-h3: 28px;

  --font-h4-lg: 22px;
  --font-h4-md: 20px;
  --font-h4: 18px;

  --font-h5-lg: 18px;
  --font-h5-md: 17px;
  --font-h5: 16px;

  --font-h6-lg: 16px;
  --font-h6-md: 15px;
  --font-h6: 14px;

  --font-p-lg: 14px;
  --font-p-md: 13px;
  --font-p: 12px;

  /* font family */
  --main-font: "incompleeta";
  --main-font-reveal: "incompleeta-reveal";
  --main-font-light: "incompleeta-light";

  /* radius */
  --rounded-large: 50px;
  --rounded-mid: 25px;
  --rounded-small: 15px;
  --rounded-circle: 1000px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--darker);
}

p,
li,
a,
h6,
h5,
h4,
h3,
div {
  letter-spacing: 0.05em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-light);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/* utitlity */
.cey-main-font {
  font-family: var(--main-font);
}

.cey-main-font-light {
  font-family: var(--main-font-light) !important;
}

.btn-style-remover {
  outline: none;
  border: none;
}

.cey-cursor-pointer {
  cursor: pointer;
}

/* background color */
.cey-bg-darker {
  background-color: var(--darker) !important;
}

.cey-bg-dark {
  background-color: var(--dark) !important;
}

.cey-bg-primary {
  background-color: var(--primary) !important;
}

.cey-bg-primary-light {
  background-color: var(--primary-light) !important;
}
.cey-bg-primary-light {
  background-color: var(--primary-light) !important;
}

.cey-bg-white {
  background-color: var(--white) !important;
}

/* text-color */
.cey-text-darker {
  color: var(--darker);
}

.cey-text-dark {
  color: var(--dark);
}

.cey-text-primary {
  color: var(--primary);
}

.cey-text-primary-light {
  color: var(--primary-light);
}
.cey-text-primary-light {
  color: var(--primary-light);
}

.cey-text-white {
  color: var(--white);
}

/* border */
.cey-border-dark {
  border: var(--dark) 2px solid;
}

.cey-border-primary {
  border: var(--primary) 2px solid;
}

.cey-border-light {
  border: var(--primary-light) 2px solid;
}

.cey-border-white {
  border: var(--white) 2px solid;
}

/* outline */
.cey-outline-dark {
  outline: var(--dark) 2px solid;
}
.cey-outline-primary {
  outline: var(--primary) 2px solid;
}
.cey-outline-light {
  outline: var(--primary-light) 2px solid;
}
.cey-outline-white {
  outline: var(--primary-white) 2px solid;
}

/* border radius */
.cey-rounded-large {
  border-radius: var(--rounded-large);
}

.cey-rounded-mid {
  border-radius: var(--rounded-mid);
}

.cey-rounded-small {
  border-radius: var(--rounded-small);
}

/* shadow */
.cey-shadow-light {
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 20px;
}

/* button */
.cey-btn-pill {
  padding: 10px 30px;
  border: none;
  font-weight: bold;
  color: var(--dark);
  outline: 2px var(--primary-light) solid;
  background-color: var(--primary);
  border-radius: 500px;
}

.cey-btn-pill:hover {
  background-color: var(--primary-light);
}

.cey-btn-box {
  padding: 10px 30px;
  border: none;
  font-weight: bold;
  color: var(--dark);
  outline: 2px var(--primary-light) solid;
  background-color: var(--primary);
}

.cey-btn-box:hover {
  background-color: var(--primary-light);
}

/* components */
.cey-product-item-card {
  /* background-color: gray; */
  color: var(--white);
  position: relative;
  width: 300px;
  height: 400px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.cey-product-item-card img {
  position: absolute;
  translate: -15px 15px;
  object-fit: cover;
  object-position: 80% 80%;
  z-index: 10;
}

.cey-product-item-card .content {
  z-index: 20;
}

/* testamonial card */
.cey-testamonial-card {
  background-color: var(--dark);
  color: var(--white);
  /* position: relative; */
  width: 450px;
  height: 400px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
