:root {
  /* color */
  --darker: #090d14;
  --dark: #171a21;
  --primary: #f3ac5a;
  --primary-light: #ffd9ae;
  --white: #f6f6f6;

  /* transistion */
  --transition1: 200ms;
  --transition2: 400ms;
  --transition3: 600ms;

  /* font */
  --font-h1-lg: 72px;
  --font-h1-md: 68px;
  --font-h1: 64px;

  --font-h2-lg: 48px;
  --font-h2-md: 45px;
  --font-h2: 42px;

  --font-h3-lg: 32px;
  --font-h3-md: 30px;
  --font-h3: 28px;

  --font-h4-lg: 22px;
  --font-h4-md: 20px;
  --font-h4: 18px;

  --font-h5-lg: 18px;
  --font-h5-md: 17px;
  --font-h5: 16px;

  --font-h6-lg: 16px;
  --font-h6-md: 15px;
  --font-h6: 14px;

  --font-p-lg: 14px;
  --font-p-md: 13px;
  --font-p: 12px;

  /* radius */
  --rounded-large: 50px;
  --rounded-mid: 25px;
  --rounded-small: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--darker);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-light);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

/* utitlity */
.btn-style-remover {
  outline: none;
  border: none;
}

.cey-cursor-pointer {
  cursor: pointer;
}

/* background color */
.cey-bg-darker {
  background-color: var(--darker);
}

.cey-bg-dark {
  background-color: var(--dark);
}

.cey-bg-primary {
  background-color: var(--primary);
}

.cey-bg-primary-light {
  background-color: var(--primary-light);
}
.cey-bg-primary-light {
  background-color: var(--primary-light);
}

.cey-bg-white {
  background-color: var(--white);
}

/* text-color */
.cey-text-darker {
  color: var(--darker);
}

.cey-text-dark {
  color: var(--dark);
}

.cey-text-primary {
  color: var(--primary);
}

.cey-text-primary-light {
  color: var(--primary-light);
}
.cey-text-primary-light {
  color: var(--primary-light);
}

.cey-text-white {
  color: var(--white);
}

/* border radius */
.cey-rounded-large {
  border-radius: var(--rounded-large);
}

.cey-rounded-mid {
  border-radius: var(--rounded-mid);
}

.cey-rounded-small {
  border-radius: var(--rounded-small);
}

/* button */
.cey-btn-pill {
  padding: 10px 30px;
  border: none;
  font-weight: bold;
  color: var(--dark);
  outline: 2px var(--primary-light) solid;
  background-color: var(--primary);
  border-radius: 500px;
}

.cey-btn-pill:hover {
  background-color: var(--primary-light);
}
