/* header */
/* secondary navigation */
.secondary-navbar {
  background-color: var(--darker);
  padding: 5px 0;
  color: var(--white);
}

.secondary-navbar-notice {
  display: flex;
  gap: 15px;
  font-size: var(--font-p-lg);
  max-height: 25px;
  overflow: hidden;
}

.currency-changer-toggle {
  color: var(--white);
  font-size: var(--font-p-lg);
  background-color: transparent;
}

.currency-changer ul li {
  padding: 2px 5px;
  margin: 2px;
}

.currency-changer ul li:hover {
  background-color: var(--darker);
  color: var(--white);
  cursor: pointer;
}

/* main navigation bar */
.logo {
  cursor: pointer;
  background-image: url("../resources/images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 41px;
}

.main-navbar {
  background-color: var(--dark);
}

.main-navbar-navigations {
  font-weight: bold;
  border: none;
}

.main-navbar-navigations ul {
  padding: 0 15px;
  list-style: none;
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.main-navbar-navigations ul li {
  padding: 0;
  color: var(--white);
  border-bottom: transparent 4px solid;
}

.main-navbar-navigations ul li:hover {
  border-bottom: var(--white) 4px solid;
}

.main-navbar-navigation-icons {
  display: flex;
  gap: 10px;
  color: var(--white);
  font-size: var(--font-h4-lg);
  cursor: pointer;
}

.main-navbar-navigation-icons i:hover {
  color: var(--primary-light);
}

/* sidebar */
.sidebar {
  background-color: var(--dark);
  padding: 20px;
  width: 40%;
  height: 100vh;
  position: absolute;
  display: none;
  transition: ease-in 1s;
  animation: sliderMoveIn 1s forwards;
}

/* section 1 - hero section */
.lp-s1 {
  min-height: 678px;
  background-image: url("../resources/images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.lp-s1-branding-quotes {
  height: max-content;
  color: var(--white);
  width: 270px;
}

.lp-s1-branding-quotes * {
  max-height: 20px;
}

.lp-s1-dot {
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: var(--white);
}

.lp-s1-searchbar {
  width: 450px;
  border-radius: var(--rounded-circle);
  color: var(--white);
  border: var(--white) 2px solid;
  display: flex;
  justify-items: center;
  padding: 1px 20px;
  overflow: hidden;
}

.lp-s1-searchbar input {
  flex-grow: 1;
  border-bottom: var(--rounded-circle);
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--white);
}

.lp-s1 h1 {
  text-align: center;
  font-size: var(--font-h1-lg);
}

/* section 2 - countdown section */
.lp-s2 * {
  color: var(--white);
  opacity: 80%;
  font-weight: 200;
  font-size: var(--font-h2-lg);
}

/* section 3 - latest product slider */
.lp-s3-swiper-control {
  z-index: 1000;
  cursor: pointer;
}
