/* section 1 - category banner */
.sp-s1 {
  height: 150px;
  /* background-image: url('/public/resources/images/promotion.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sp-s2-dropdown {
  cursor: pointer;
}

.sp-s2-dropdown-btn {
  z-index: 200;
}

.sp-s2-dropdown:hover ul {
  animation: dropdown 1s forwards;
  top: 50px;
  transition: 500ms;
}

.sp-s2-dropdown-list {
  display: flex;
  align-items: flex-start;
  z-index: 100;
  opacity: 0;
  height: 0;
}

.sp-s2-dropdown-list li {
  text-align: start;
  width: 100%;
  list-style-type: none;
  padding: 5px 0;
}

.sp-s2-dropdown-list li:hover {
  background-color: var(--primary);
}

@keyframes dropdown {
  0% {
    height: max-content;
    display: flex;
    opacity: 0%;
  }

  100% {
    height: max-content;
    opacity: 100%;
  }
}

/*section 3 -  products section */
.sp-s3-main-container {
  min-height: 500px;
}

.shop-product-card {
  height: 400px;
  padding: 10px;
  position: relative;
}

.shop-product-card-container img {
  /* translate: -15px -15px; */
  object-fit: cover;
  object-position: 80% 80%;
  z-index: 20;
}

.shop-product-card-container .content {
  position: absolute;
  padding: 15px;
  color: var(--white);
  bottom: 0;
  z-index: 20;
  line-height: 18px;
}

@media (max-width: 767px) {
  /* section 1 - category banner */
  .sp-s1 {
    height: 150px;
  }
}

@media (max-width: 425px) {
  /* section 1 - category banner */
  .sp-s1 {
    height: 100px;
  }
}
