/* header */
/* secondary navigation */
.secondary-navbar {
  background-color: var(--darker);
  padding: 5px 0;
  color: var(--white);
}

.secondary-navbar-notice {
  display: flex;
  gap: 15px;
  font-size: var(--font-p-lg);
  max-height: 25px;
  overflow: hidden;
}

.currency-changer-toggle {
  color: var(--white);
  font-size: var(--font-p-lg);
  background-color: transparent;
}

.currency-changer ul li {
  padding: 2px 5px;
  margin: 2px;
}

.currency-changer ul li:hover {
  background-color: var(--darker);
  color: var(--white);
  cursor: pointer;
}

/* main navigation bar */
.logo {
  cursor: pointer;
  background-image: url("../resources/images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 41px;
}

.main-navbar {
  background-color: var(--dark);
}

.main-navbar a {
  text-decoration: none;
}

.sidebar {
  text-decoration: none;
}

.main-navbar-navigations {
  font-weight: bold;
  border: none;
}

.main-navbar-navigations ul {
  padding: 0 15px;
  list-style: none;
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.main-navbar-navigations ul li {
  padding: 0;
  color: var(--white);
  border-bottom: transparent 4px solid;
}

.main-navbar-navigations ul li:hover {
  border-bottom: var(--white) 4px solid;
}

.main-navbar-navigation-icons {
  display: flex;
  gap: 10px;
  color: var(--white);
  font-size: var(--font-h4-lg);
  cursor: pointer;
}

.main-navbar-navigation-icons i:hover {
  color: var(--primary-light);
}

/* sidebar */
.sidebar {
  z-index: 1000;
  background-color: var(--dark);
  padding: 20px;
  width: 40%;
  height: 100vh;
  position: absolute;
  display: none;
  transition: ease-in 1s;
  animation: sliderMoveIn 1s forwards;
}

/* footer */
.footer-main-box {
  display: flex;
  justify-content: space-between;
}
.footer-contact {
  font-size: var(--font-p);
}
.footer-terms {
  display: flex;
  align-items: end;
  font-size: var(--font-p);
}
.footer-icon {
  font-size: 23px;
}
.footer-develop {
  width: 150px;
  font-size: var(--font-p);
}
.footer-hr {
  display: none;
}

@media (max-width: 1440px) {
  /* section 8 - our story section */
  .lp-s8-section {
    height: 400px;
  }

  .lp-s8-sides {
    width: 100%;
  }

  .lp-s8-middle-box {
    width: 100%;
  }
}

@media (max-width: 767px) {
  /* sidebar */
  .sidebar {
    width: 60%;
    flex-direction: column;
    justify-content: space-between;

    transition: ease-in 1s;
    animation: sliderMoveIn 1s forwards;
  }

  .sidebar-navigations ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
  }

  .logo {
    width: 112px;
    height: 30px;
  }

  /* section 2 - countdown section */
  .lp-s2 * {
    font-size: var(--font-h3);
  }

  /* section 3 - category pallete section */
  .lp-s4 h4 {
    font-size: var(--font-h3-md);
  }

  .lp-s4-large-card {
    height: 200px;
  }

  .lp-s4-small-card {
    height: 150px;
  }

  /* section 5 - promotion section */
  .lp-s5-shop-btn {
    width: 100%;
    height: 50px;
  }

  .lp-s5-promotion {
    height: 250px;
  }

  /* section 6 - blogs section */
  .lp-s5-card {
    width: 100%;
    height: 250px;
  }

  /* section 7 - handloom */
  .lp-s7-description {
    width: 300px;
  }

  /* section 8 - our story section */
  .lp-s8-sides {
    height: 200px;
  }

  .lp-s8-middle-box {
    width: 100%;
  }

  /* section 11 - conatcts */
  .lp-s11-detail-box {
    flex-direction: column;
  }

  /* footer */
  .footer-main-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-contact-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-contact-secondary-section {
    display: flex;
    flex-direction: column;
  }
  .footer-terms {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .footer-social-icons {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .footer-hr {
    display: flex;
    border-width: 3px;
    width: 100%;
  }
}

@keyframes sliderMoveIn {
  0% {
    translate: -50% 0;
  }

  100% {
    translate: 0 0;
  }
}

@media (max-width: 425px) {
  /* sidebar */
  .sidebar {
    width: 100%;
  }

  .logo {
    width: 75px;
    height: 20px;
  }

  .main-navbar-navigation-icons {
    font-size: 18px;
  }

  /* section 1 - hero section */
  .lp-s1 {
    min-height: 500px;
    background-position: 70%;
  }

  .lp-s1-branding-quotes * {
    font-size: var(--font-h6);
  }

  .lp-s1-searchbar {
    width: 270px;
  }

  .lp-s1 h1 {
    text-align: center;
    font-size: var(--font-h3);
  }

  /* section 2 - countdown section */
  .lp-s2 * {
    font-size: var(--font-h4);
  }

  /* section 3 - category pallete section */
  .lp-s4 h4 {
    font-size: var(--font-h5);
  }
  /* section 10 - testamonials */
  .lp-s10 h4 {
    font-size: var(--font-h5);
  }
  .lp-s10 p {
    font-size: var(--font-p);
  }

  /* section 11 - conatcts */
  .lp-s11-contacts {
    font-size: var(--font-p);
  }
  .lp-s11 h6 {
    font-size: var(--font-p);
  }
  .lp-s11-icon {
    font-size: 2em;
  }

  /* section 12 - subscription */
  .p-s12 h5 {
    font-size: var(--font-h6);
  }
  .lp-s12-input-box {
    flex-direction: column;
  }
}
