/* admin page */
.ad-s1 {
  min-height: 85vh;
}

.logo {
  padding: 10px 0;
  width: 150px;
  object-fit: contain;
}

/* admin home page */
.ahp-s1 {
  height: 83vh;
}

.admin-main-container {
  height: 80vh;
}

#addImagePreviewBox {
  height: 300px;
}

.admin-product-image-preview {
  width: 250px;
  height: 200px;
  margin: 0 10px;
  object-fit: contain;
}

.image-close-icon {
  font-size: 25px;
  width: 100%;
  margin: 10px 20px;
}
