/* admin page */
.ad-s1 {
  height: 85vh;
}

.logo {
  padding: 10px 0;
  width: 150px;
  object-fit: contain;
}

/* admin home page */
.ahp-s1 {
  height: 83vh;
}

.admin-main-container {
  height: 750px;
}
